
@{
    Layout = null;
}
<html>
<head>

</head>
<body>
    <h1>Добавить новую категорию доходов</h1>
    <form action="~/Home/categoryComeIn" method="post">
        <input type="text" name="categoryComeIn" />
        <input type="submit" value="Ввод" />
    </form>
    <a href ="~/Home/Index">На главную страницу</a> 
</body>
</html>


