@{
    Layout = null;
}



<html>

<head>
    <title>Создание записей расходов</title>
</head>

<body>
    <h1>Создание записей расходов</h1>
    <form action="~/Home/req1" method="post">
        <label>Введите сумму Вашего расхода</label>
        <input type="text" name="summ" />
        <label style="display:block; padding:10px;">Выберете месяц</label>
        <select id="selectMonth" name="month">
            <option value="Январь">Январь</option>
            <option value="Февраль">Февраль</option>
            <option value="Март">Март</option>
            <option value="Апрель">Апрель</option>
            <option value="Май">Май</option>
            <option value="Июнь">Июнь</option>
            <option value="Июль">Июль</option>
            <option value="Август">Август</option>
            <option value="Сентябрь">Сентябрь</option>
            <option value="Октябрь">Октябрь</option>
            <option value="Ноябрь">Ноябрь</option>
            <option value="Декабрь">Декабрь</option>
        </select>
        <label style="display:block; padding:10px;">Выберете категорию</label>
        <select id="selectCategoryIncome" name="category">
            @using System.Data.SqlClient;
            @{
                SqlConnection con = new SqlConnection(Global.con);
                con.Open();
                string cmd = "select * from dbo.categoryOutcome";
                SqlCommand sqlCommand = new SqlCommand(cmd, con);
                SqlDataReader reader = sqlCommand.ExecuteReader();
                while (reader.Read())
                {
                    <option value="@reader[0].ToString()">@reader[0].ToString()</option>
                }

                con.Close();
            }
        </select>
        <label style="display:block; padding:10px;">Оставьте комментарий к этому расходу</label>
        <input type="text" name="comment" />
        <input type="submit" value="Ввод данных" style="display:block; padding:10px;">
    </form>
    <a href="~/Home/Index">Перейти к внесению информации о Ваших доходах</a>
<a href ="~/Home/tableIncomeOutcome">посмотреть таблицу доходов</a>
<a href="~/Home/tableOutcome">посмотреть таблицу расходов</a>
</body>


</html>
